<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA_Compatible" content="ie=edge">
<!-- 	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
	<title>Finding road application</title>
	<style type="text/css">
		.image1 {
			position: relative;
		}
		.image2{
			position: absolute;
			left: 500;
		}
	</style>
</head>
<body>
<figure>
<figcaption>Caption for the bundle of images</figcaption>

    <figure>
    <img src="https://storage.googleapis.com/tf1-model/images/input_img_96u" alt="Description of picture 1" height="400" width="300" class="image1">
    <figcaption>Caption for Picture 1</figcaption>
    </figure>

    <figure>
    <img src="https://storage.googleapis.com/tf1-model/images/seg_map_96u" alt="Description of picture 2" height="400" width="300" class="image2">
    <figcaption>Caption for Picture 2</figcaption>
    </figure>

</figure>
</body>
</html>